*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}
.main-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(10,1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid black;
    background-image: radial-gradient(circle 5px at top left, rgba(0,0,0, 0.1) 0%, rgba(0,0,0, 0.1) 50%,rgba(226,209,209, 0.1) 50%, rgba(226,209,209, 0.1) 30%,transparent 30%, transparent 50%),linear-gradient(90deg, rgb(255,225,185),rgb(255,225,185)); background-size: 11px 11px;
}
header{
    padding: .5em;
    grid-column: 3 / -1;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid black;
}
.shadow{
    box-shadow: 2px 2px black;
}
.padding{
    padding: .5em;
}
.border{
    border-bottom: 1.5px solid black;
}
.search-bar{
    display: grid;
    grid-template-columns: .1fr 2fr .1fr .1fr .3fr;
    align-items: center;
}
.search{
    height: 30px;
    margin-right: 10px;
    padding: 8px;
    border: 1.5px solid black;
    background-color: #f5e8d4;
}
.bold{
    font-weight: 600;
}

.notification-bar{
    display: grid;
    grid-template-columns: .2fr 2fr repeat(3, .2fr);
    align-items: center;
}
.svg{
    width: 20px;
    height: 20px;
}
.btn-1,
.icon-1{
  transform: rotate(2deg);
  background-color: #F5F58E;  
}
.btn-2,
.icon-2{
    transform: rotate(-4deg);
    background-color: #F2AF29;
}
.btn-3,
.icon-3{
    transform: rotate(5deg);
    background-color: #66cc54;
}
.btn-1:hover, .icon-1:hover{
    background-color: #cfcf7a;
}
.btn-2:hover, .icon-2:hover{
    background-color: #ca9936;
}
.btn-3:hover, .icon-3:hover{
    background-color: #4d9e3e;
}
.btn{
    box-shadow: 2px 2px black;
    padding: .5em 1em;
    border: 1.5px solid black;
    margin-left: 5px;
}
#profile-picture{
    width: 50px;
    height: 50px;
}
aside{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 1 / span 2;
    grid-row: 1 / 6;
}
aside > h1{
    padding: .5em .5em .5em 0;
}
.aside-title{
    transform: rotate(-5deg);
    text-shadow: 4px 4px #f2ff00;
}
.dashboard-title{
    display: flex;
}
.title-tilt{
    color: red;
    text-shadow: 4px 4px #f2ff00;
    transform: rotate(5deg);
}
.sidebar-assets{
    display: flex;
    padding: .5em;
    background-color: #ffff;
    margin-bottom: .5em;
    border: 1.5px solid black;
    align-items: center;
}
.sidebar-assets:hover{
    background-color: #ddd6d6;
    
}
.sidebar-text{
    margin-left: 12px;
}

main{
    grid-column: 3 / -1;
    grid-row: 2 / 6;
    gap: 10px;
    padding: 1em .5em;
    display: grid;
    grid-template-columns: repeat(3,1fr) 1fr;
    border-left: 1.5px solid black;
    overflow-y: auto; 
    height: 80vh;
}
main::-webkit-scrollbar {
    display: none; /* Hide the scrollbar track in WebKit browsers (Chrome, Safari) */
}


#projects-container{
    border:1.5px solid black;
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
#project-title{
    padding: .5em;
    background-color: #f2ff00;
    border-bottom: 1.5px solid black;
}
.projects-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #fe7dd3;
    padding: .5em;
    gap: 10px;
}
.projects{
    display: grid;
    grid-template-rows: .2fr .8fr;
    border: 1.5px solid black;
    background-color: #ffff;
}
.project-icons{
    display: flex;
    justify-content: end;
    padding: .5em;
}
.icon-1,
.icon-2{
    margin-right: 4px;
}
.icon-1,
.icon-2,
.icon-3{
    padding: 2px;
    border: 1px solid black;
}
.title{
    background-color: #abf2eb;
}
#announcements{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.announcement-con,
.trending-con{
    display: grid;
    grid-template-rows: 1fr 4fr;
    border: 1.5px solid black;
}
.announcement-title,
.trending-title{
    padding: .5em;
    border-bottom: 1.5px solid black;
}
.announcement-title{
    background-color: #68ff04;
}
hr {
    border: 1px solid black; /* Set the border to be 1px solid black */
}
.announcement-div,
.trending-div{
    background-color: #ffff;
}
.announcement-div{
    font-size: .8rem;
    line-height: 1em;
}
.trending-title{
    background-color: #04f7ff;
}
.trending-profile{
    display: flex;
    font-size: .8em;
    align-items: center;
}
.trending-profile > div{
    margin-left: 5px;
}

.trending-profile-name{
    color: #5a5757;
}